<div class="position-relative">
  <div layout="row" layout-align="space-around" class="progress-circular-holder">
    <md-progress-circular ng-if="!vm.disableProgressBar" ng-disabled="vm.disableProgressBar" md-diameter="200"></md-progress-circular>
  </div>

  <md-virtual-repeat-container
    id="vertical-container"
    md-auto-shrink-min=8
    class="mb-5">
    <div md-virtual-repeat="activity in vm.activities"
         md-on-demand="true"
         md-item-size=93
         class="repeat-container">
      <div class="info">
        <div class="activity-type noselect">
          <span class="{{vm.activitiesFilters[activity.activity_type_id].className}} icon"></span>
          <span class="label">{{vm.activitiesFilters[activity.activity_type_id].label}}</span>
        </div>
        <div class="main-info">
          <span ui-sref="activity.id"
                ng-click="vm.viewActivity($event, activity)"
                class="activity-title">
            <a href="">{{activity.title}}</a>
          </span>
          <div class="secondary-info">
            <div class="date-container">
              <span class="date noselect">on {{activity.date | date:'d MMM, y HH:mm'}}</span>
              <span class="duration noselect">for {{activity.duration | date:'HH:mm:ss'}}</span>
            </div>
            <div class="comment noselect truncate">
              <p class="truncate">{{activity.comment}}</p>
            </div>
          </div>
        </div>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </div>
  </md-virtual-repeat-container>
</div>

