<div class="container">
  <div ng-controller="activitiesController as vm" class="activities-container">

    <div layout="column" layout-align="space-between" class="container utils">
      <div class="search-and-add">
        <ng-include src="'/assets/views/activitiesSearchPartial.html'"></ng-include>

        <md-button type="button"
                  class="md-fab md-mini add-activity"
                  layout="row"
                  layout-align="center"
                  ng-click="vm.addActivity($event)">
                  <i class="material-icons">add</i>
                  <md-tooltip>Add activity</md-tooltip>
        </md-button>
      </div>

      <ng-include src="'/assets/views/activitiesFiltersPartial.html'"></ng-include>

    </div>
    <md-divider class="bg-red"></md-divider>
    <ng-include src="'/assets/views/activitiesTablePartial.html'"></ng-include>

  </div>
</div>
