<div class="activities-filters tn-group-lg mb-5"
     role="group"
     aria-label="table of activites">
  <button type="button"
          class="btn btn-secondary"
          ng-repeat="filter in vm.activitiesFilters"
          ng-click="vm.filterActivity(filter.id)">
    <span class="{{filter.className}}"></span>{{filter.label}}
  </button>
</div>

<div class="table-header">
  <div class="table-row">
    <span class="id w-5" ng-click="vm.sortBy('id')">id</span>
    <span class="title w-25" ng-click="vm.sortBy('title')">title</span>
    <span class="date w-15" ng-click="vm.sortBy('date')">date</span>
    <span class="label w-7_5" ng-click="vm.sortBy('type')">type</span>
    <span class="duration w-7_5" ng-click="vm.sortBy('duration')">duration</span>
    <span class="comment w-40">comment</span>
  </div>
</div>

<md-virtual-repeat-container id="vertical-container" class="mb-5">
  <div md-virtual-repeat="activity in vm.activities" md-on-demand="true" class="repeated-item" flex="">
    <div class="table-row">
      <span class="id w-5 noselect">{{activity.id}}</span>
      <span class="title w-25 noselect">{{activity.title}}</span>
      <span class="date w-15 noselect">{{activity.date | date:'MMM d, y H:m'}}</span>
      <span class="label w-7_5 noselect">{{vm.activitiesFilters[activity.type].label}}</span>
      <span class="duration w-7_5 noselect">{{activity.duration}}</span>
      <span class="comment w-40 noselect">{{activity.comment}}</span>
    </div>
  </div>
</md-virtual-repeat-container>

<button type="button" class="btn btn-primary btn-lg " ng-click="vm.addActivity()">Add activity
</button>
