<div class="activities-filters tn-group-lg mb-5"
     role="group"
     aria-label="table of activites">
  <md-button type="button"
             class="md-raised"
             ng-repeat="filter in vm.activitiesFilters"
             ng-click="vm.filterActivity(filter.id)">
      <span class="{{filter.className}}"></span>
      <span class="filter-label" ng-class="{'active': vm.activityFilter === filter.id}">{{filter.label}}</span>
  </md-button>
</div>

<div class="table-header">
  <div layout="row" layout-padding>
    <!-- <span class="id w-5" ng-click="vm.sortBy('id')">id</span> -->
    <span flex="25" class="title" ng-click="vm.sortBy('title')">title</span>
    <span flex="15" class="date" ng-click="vm.sortBy('date')">date</span>
    <span flex="10" class="label" ng-click="vm.sortBy('type')">type</span>
    <span flex="10" class="duration" ng-click="vm.sortBy('duration')">duration</span>
    <span flex="40" class="comment">comment</span>
  </div>
</div>

<div class="position-relative">
  <div layout="row" layout-align="space-around" class="progress-circular-holder">
    <md-progress-circular ng-if="!vm.disableProgressBar" ng-disabled="vm.disableProgressBar" md-diameter="200"></md-progress-circular>
  </div>

  <md-virtual-repeat-container
    id="vertical-container"
    md-auto-shrink-min=8
    class="mb-5">
    <div md-virtual-repeat="activity in vm.activities"
         md-on-demand="true"
         layout="row"
         layout-padding
         class="repeated-item"
         md-item-size="52">
      <!-- <span flex="5" class="id noselect">{{activity.id}}</span> -->
      <span flex="25" class="title noselect" ui-sref="activity.id" ng-click="vm.viewActivity($event, activity)">
        <a href="">{{activity.title}}</a>
      </span>
      <span flex="15" class="date noselect">{{activity.date | date:'d MMM, y HH:mm'}}</span>
      <span flex="10" class="label noselect">
        <span class="{{vm.activitiesFilters[activity.type].className}}"></span>{{vm.activitiesFilters[activity.type].label}}
      </span>
      <span flex="10" class="duration noselect">{{activity.duration | date:'HH:mm:ss'}}</span>
      <span flex="40" class="comment noselect truncate">{{activity.comment}}</span>
    </div>
  </md-virtual-repeat-container>
</div>

