<div class="container">
  <div class="form-backdrop"></div>
  <div class="flex-column pt-sm-0 pt-sm-5 row">
    <div ng-controller="logInController as vm" class="user-form-container mt-lg-5 p-5">
      <h1 class="mb-5 display-3">Login</h1>
      <h3 class="mt-5 mb-5">Track your fitness habits</h1>
      <form name="logInForm" novalidate>
        <div class="form-group"
            ng-class="{'invalid-form-input': logInForm.loginEmail.$touched === true && logInForm.loginEmail.$invalid === true}">
          <label for="loginEmail">Email address</label>
          <input type="email"
                name="loginEmail"
                id="loginEmail"
                class="form-control form-control-lg"
                aria-describedby="emailHelp"
                placeholder="name@example.com"
                ng-model="vm.loginUser.email"
                required>
          <div class="invalid-feedback">
            Please provide a valid email.
          </div>
          <small id="emailHelp"
                class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group"
            ng-class="{'invalid-form-input': logInForm.loginPassword.$touched === true && logInForm.loginPassword.$invalid === true}">
          <label for="loginPassword">Password</label>
          <input type="password"
                name="loginPassword"
                id="loginPassword"
                class="form-control form-control-lg"
                aria-describedby="loginPassword"
                placeholder="12345678"
                ng-model="vm.loginUser.password"
                required>
          <div class="invalid-feedback">
            Your password is required.
          </div>
        </div>
        <div class="form-group">
          <button type="button"
                  class="btn btn-primary btn-lg"
                  ng-disabled="logInForm.$invalid"
                  ng-click="vm.login()">Log in
          </button>
          <div class="invalid-feedback"
              ng-class="{'display-block': logInForm.$submitted === true && vm.loginUser.found === false}">
            Your email or password is incorrect.
          </div>
        </div>
      </form>
      <small>or <a style="text-decoration: underline;" ui-sref="signup">create account</a>
      </small>
    </div>
  </div>
</div>
