.footer-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 2rem;
}

.section {
  // max-width: 33%;
  max-width: unset;
  margin: 2rem 0;

  h4 {
    margin-bottom: 1rem;

    @media (orientation: portrait) {
      margin-bottom: 2rem;
    }

    @media screen and (min-width: $breakpoint-lg){
      margin-bottom: 1rem;
    }
  }

  &.social-container {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

ul.support {
  padding: 0;

  & li {
    list-style: none;
    font-size: 1.5rem;

    a {
      color: hsl(0, 0%, 80%);
    }
  }
}

.social {
  display: flex;
  flex-flow: row;
  font-size: 90%;
  justify-content: space-between;

  a {
    color: hsla(215, 10%, 33%, 1);
    padding: 0 0.3rem;

    &:first-child {
      margin-left: -0.7rem;
    }
  }

  @media (orientation: portrait) {
  }

}

.email-subscription {
  input#email {
    font-size: 1.5rem;
    padding: 2rem 1rem;
    background-color: hsl(0, 0%, 31%);
    border: 0 none;
    color: hsl(0, 0%, 88%);
  }

  .input-group-append button.btn.btn-outline-secondary {
    font-size: 2rem;
    padding: 0 2rem;
    border: 0 none;
    background-color: hsl(0, 0%, 40%);

    &:hover {
      background-color: hsl(0, 0%, 60%);
    }
  }
}


.email-consent {
  display: flex;

  label {
    font-size: 1.3rem;
    padding-left: 0.5rem;
  }

  .checkbox {
    font-size: 1.5rem;
    position: relative;
    left: -4px;
  }

  input[type=checkbox] {
    display: none;
  }

  i.zmdi.zmdi-check {
    visibility: hidden;
  }

  input#email-consent:checked+.checkbox i.zmdi.zmdi-check {
    visibility: visible;
  }

}


@media screen and (min-width: $breakpoint-lg) {
  .footer-container {
    flex-flow: row;
  }

  .section {
    max-width: 33%;
  }

  .section.social-container {
    order: 2;
    align-items: baseline;
  }

  .social {
    justify-content: flex-start;
  }

}

