// generic

.bg-red {
  background: red;
}

.t-0 {
  top: 0 !important;
}

.z-index-10 {
  z-index: 10;
}

.w-5 {
  width: 5%
}

.w-7_5 {
  width: 7.5%
}

.w-10 {
  width: 10%
}

.w-15 {
  width: 15%
}

.w-20 {
  width: 20%
}

.w-40 {
  width: 40%
}

.w-100 {
  width: 100%
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.display-flex {
  display: flex !important;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noselect {
  -webkit-touch-callout: none !important;
  /* iOS Safari */
  -webkit-user-select: none !important;
  /* Safari */
  -khtml-user-select: none !important;
  /* Konqueror HTML */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
