@import "../../app/bower_components/bootstrap/scss/bootstrap.scss";
@import "progressbar.scss";
@import "generic.scss";
@import "navigation.scss";
@import "activities.scss";
@import "footer.scss";



// @import "/../node_modules/bootstrap/scss/bootstrap";
$white-70: hsla(0, 0%, 100%, 0.7);

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


body {
  font-size: 2rem;
  height: auto;
  font-family: 'Roboto', sans-serif;

  &.login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('/assets/img/running.jpg');

    footer {
      display: none;
    }
  }

  &.signup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('/assets/img/running.jpg');

    footer {
      display: none;
    }
  }
}

blockquote q {
  display: table-cell;
  text-align: center;
}

q {
  quotes: '\201c''\201d';
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

div#backdrop {
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.form-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 100%, 0.65);
  z-index: 0;
}

.motivational {
  margin-top: 15rem;
}


.carousel-item-div-background {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (orientation: landscape) {
    height: 100vh;
  }

  @media (orientation: portrait) {
    height: 80vh;
  }

  @media screen and (min-width: $breakpoint-lg) and (orientation: landscape) {
    height: 80vh;
  }

}

.user-form-container {
  position: relative;
  background: $white-70;
  border-radius: 3px;
}

// activities






// material overrides
// md-dialog.md-dialog-fullscreen {
//   max-width: 100%;
//   max-height: 100%;
//   width: 100%;
//   height: 100%;
//   border-radius: 0;
// }

// md-dialog,
// md-input-container {
//   width: 100%;
//   max-width: unset;
// }
// md-input-container {
//   // width: 100%
// }

// virtual repeat






@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .h-100vh#{$infix} {
      height: 100vh !important;
    }

    .p#{$infix}-6 {
      padding: 6rem !important;
    }

  }
}

// --breakpoint-xs: 0;
// --breakpoint-sm: 576px;
// --breakpoint-md: 768px;
// --breakpoint-lg: 992px;
// --breakpoint-xl: 1200px;

@include media-breakpoint-up(xs) {
  header a.navbar-brand svg {
    width: 20rem;
  }

  .user-form-container {
    background: none;
    margin-top: 6rem;
  }

  .motivational {
    margin-top: 10rem;
  }

  blockquote q {
    font-size: 3rem;
  }

}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {
  header a.navbar-brand svg {
    width: 25rem;
  }

  .form-backdrop {
    display: none;
  }

  .user-form-container {
    background: $white-70;
    margin-top: 10rem !important;
    padding: 6rem !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote q {
    font-size: 4rem;
  }
}

@include media-breakpoint-up(lg) {
  header a.navbar-brand svg {
    width: 30rem;
  }

  blockquote q {
    font-size: 5rem;
  }
}

@include media-breakpoint-up(xl) {
  blockquote q {
    font-size: 6rem;
  }
}
